@media only screen and (max-width: 992px) and (min-width: 600px) {
  /* Header aea styling */

  #header-main {
    max-width: 100%;
    padding: 25px 15px 0 15px;
  }

  .main-menu {
    gap: 30px;
  }

  .header-right {
    gap: 30px;
  }

  .arrow {
    margin-left: 5px;
  }

  /* Hero section styling */

  #hero {
    width: 100%;
    height: 880px;
    background-image: url(/Assets/Photos/backCards.png);
    background-position: top 0 left 410px;
    background-repeat: no-repeat;
    position: relative;
  }

  .hero-main {
    width: 100%;
    height: 880px;
    background-image: url(/Assets/Photos/frontCards.png);
    background-position: top 70px left 620px;
    background-repeat: no-repeat;
  }

  .hero-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .hero-content-area {
    padding: 120px 15px 0 15px;
  }

  .hero-heading {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.3em;
  }

  .hero-h1-pink {
    color: #f637ec;
    font-weight: 600;
  }

  .hero-txt {
    color: #adadad;
    font-size: 22px;
    font-weight: 400;
    margin: 30px 0 80px 0;
  }

  .hero-btn {
    font-size: 25px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 27%;
    padding: 0px 36px;
    border: 0;
    cursor: pointer;
  }

  .btn-arrow {
    margin-left: 5px;
  }

  .user-count {
    display: flex;
    align-items: center;
    padding-top: 80px;
    gap: 40px;
  }

  .count-box1,
  .count-box3 {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .counter-number {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
  }

  .counter-subtxt {
    color: #f637ec;
  }

  .counter-txt {
    color: #e2e2e2;
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 400;
  }

  /* Brands logo */

  .brands-logo {
    background-color: #292929;
  }

  .brands-logo-main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 15px;
  }

  /* Service area styling */

  .service-head {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 90px 15px;
  }

  .service-heading br {
    display: none;
  }

  .service-heading {
    font-size: 50px;
    text-align: center;
  }

  .service-txt br {
    display: none;
  }

  .service-txt {
    text-align: center;
  }

  /* Service box styling   */

  .services-box-area {
    flex-wrap: wrap;
  }

  .services-boxes {
    margin: 0 auto;
    flex-basis: 70%;
  }

  .services-title {
    font-weight: 400;
  }

  /* Unique card section styling */

  #unique {
    width: 100%;
  }

  .unique-container {
    max-width: 100%;
    padding: 100px 15px 0 15px;
  }

  /* Testimonial section styling */

  #testimonial {
    padding: 100px 25px;
  }

  .testimonial-head {
    padding-bottom: 80px;
  }

  /* testimonal items styling */

  .testimonials-main {
    max-width: 100%;
    gap: 4%;
  }

  .testimonials-box {
    flex-basis: 48%;
    padding: 20px;
  }

  .testimonials-3,
  .testimonials-4 {
    margin-top: 40px;
  }

  .user-feedback br {
    display: none;
  }
}
